
       

         
        
        h1 + p {color: rgb(207, 31, 31);}              /* h1 + h signifie ce qui aprés h1 va etre on rouge */

        #aze {color: saddlebrown;}                 /* appel id avec   #nom de id  */


        .DD{color: red;                               /* appel class avec   .nom de class */        
            font-family: roboto;
            text-align: center;}
        
        .zzz ~ h3  {font-weight: bolder;                            /* faire changer le titre h4 juste aprés le h1 */ 
         background-color: rgba(51, 51, 51, 0.514);
            color: rgb(202, 36, 36);
            padding: .3em;}

            h3:hover { color: rgba(249, 71, 255, 0.932);}       /* name(h1):hover {} change la couleur lorsque vous metre curser sur lien */

            
                a:visited {
                    color: rgb(108, 255, 71);
                }

                a:link {
                    color: tomato;
                }

                a:active{
                    color: #0000FF}

                    section {padding-left:0.5cm;padding-top: 0.5cm;padding-bottom: 0.5cm;padding-right: 0.5cm;}

                    section{margin-top: 1cm;margin-bottom: 1cm;margin-left: 1cm;margin-right: 1cm;}

                    section{
                        height: 205px;
                        width: 90%;
                    }
                    .h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold'}
                    .h1{color:red}

                      .box-2 {
                        border: 5px hidden red;
                      }
                      #kk{letter-spacing: 0.5cm;font-family: Arial, Helvetica, sans-serif;color: rgb(0,0 , 255);font-style: bold;font-weight: normal;text-decoration: none;
                      }

                      p {
                        border: 3px solid black;
                        margin: 0.5px;
                      }

                      